:root {
    --navy-dark: #022d58;
    --navy-light: #05468a;
    --gold-accent: #ffc583;
}

/* WRAPPER */
.login-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg,
            #021c3a 0%,
            #043b72 40%,
            #0758a8 100%);
}

/* HEADER */
.main-header {
    padding: 30px 0;
    color: white;
    border-bottom: 4px solid var(--gold-accent);
    background: linear-gradient(90deg,
            var(--navy-dark),
            var(--navy-light));
}

/* Center layout */
.header-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.brand-center {
    text-align: center;
}

.brand-center h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
    letter-spacing: -1px;
}

.brand-center p {
    font-size: 19px;
    opacity: 0.8;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* CLOCK */
.clock-pill {
    justify-self: end;
    background: rgba(255, 255, 255, 0.15);
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 18px;
    backdrop-filter: blur(6px);
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
.login-viewport {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-image: url("../../assets/images/hrms_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    position: relative;
}

/* CARD */
.premium-card {
    width: 100%;
    height: 450px;
    max-width: 450px;
    padding: 40px;
    border-radius: 18px;
    background: rgb(3, 64, 133);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
    animation: fadeInUp 0.8s ease;
}

.error-text {
    color: #ffb3b3;
    font-size: 13px;
    margin-top: 4px;
}

/* BUTTON */
.login-btn {
    background: var(--gold-accent);
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.login-btn:hover {
    background: #ffb357;
    transform: translateY(-2px);
}

/* FOOTER */
.footer {
    padding: 15px 0;
    background: linear-gradient(90deg,
            var(--navy-dark),
            var(--navy-light));
    color: white;
    font-size: 14px;
}

.small-text {
    font-size: 12px;
    opacity: 0.7;
    margin-top: 1px;
}

.browser-img {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin: 0 4px;
}

/* ANIMATION */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Inputs */
.custom-input {
    height: 45px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.6);
    border: none;
}

/* Icons */
.input-icon {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    margin-right: 8px;
    color: whitesmoke;
    font-size: 15px;
}

.input-eye {
    position: absolute;
    top: 70%;
    right: 14px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    color: #003b8e;
}