.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.toggleSwitch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: rgb(243, 79, 79); 
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: green !important; 
  border-color: #0d6efd !important;
}

input:checked + .slider::before {
  transform: translateX(24px);
}

input:disabled + .slider {
  opacity: 0.5;
  cursor: not-allowed;
}
